ol.handOrderedList {
    list-style-type: none;
    padding: 0;
    margin-block: 0;
    height: 100%;
}

li.cardListItem {
    display: inline-block;
    width: 40px;
    height: 100%;
}

div .Hand {
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
    overflow-x: auto;
}
